<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Demo" description="Demo content for the meetup!" dependencies="Feature.Demo">
          <targetDataStore physicalRootPath="$(sourceFolder)\Unicorn\Project\Demo" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <!-- Home -->
            <include name="Project.Demo.Home" database="master" path="/sitecore/content/Home">
              <exclude children="true">
                <except name="Demo" />
              </exclude>
              <exclude childrenOfPath="Demo" />
            </include>

            <!-- Global Settings -->
            <include name="Project.Demo.GlobalSettings" database="master" path="/sitecore/content/Global Settings">
              <exclude children="true">
                <except name="Media Settings" />
                <except name="URL Settings" />
              </exclude>
            </include>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>