<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="c:\Works\Meetup.Unicorn.Demo"></sc.variable>
    <unicorn>
      <authenticationProvider type="Unicorn.ControlPanel.Security.ChapAuthenticationProvider, Unicorn">
        <SharedSecret>ED33748F03202A84FC175B88A5CE566942346E3249316548D23D2E3832F46044</SharedSecret>
      </authenticationProvider>
      <configurations>
        <configuration name="Foundation.Serialization" description="Serialization Foundation first Sitecore meetup!">
          <targetDataStore physicalRootPath="$(sourceFolder)\Unicorn\Foundation\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <!-- Templates -->
            <include name="Foundation.Serialization.Templates" database="master" path="/sitecore/templates/Meetup">
              <exclude path="/sitecore/templates/Meetup/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/templates/Meetup/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/templates/Meetup/Project/" childrenOnly="true" />
            </include>

            <!-- Renderings -->
            <include name="Foundation.Serialization.Renderings" database="master" path="/sitecore/layout/renderings/Meetup">
              <exclude path="/sitecore/layout/renderings/Meetup/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/layout/renderings/Meetup/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/layout/renderings/Meetup/Project/" childrenOnly="true" />
            </include>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>